fuzzywuzzy
fastapi
uvicorn
pypdf
langchain
langchain-community
langchain-pinecone
sentence-transformers
openai
langchain-huggingface
python-dotenv
langchain-openai
langchain-core
psycopg2-binary
python-multipart